html {
	background: #111;
}

.badStat {
	color: red;
}

.interface {
	position: relative;
	width: 1035px;
	border: 2px black solid;
	background: #222;
	margin: auto;
	display: none;
}

#continue {
	color: white;
	text-align: center;
	display: none;
	margin-top: 75px;
}

#gameOver {
	position: absolute;
	top: 0px;
	bottom: -305px;
	left: 0px;
	right: 0px;
	border: 2px black solid;
	background: #222;
	margin: auto;
	color: #A00;
	font-size: 8em;
	z-index: 9999;
	text-align: center;
	line-height: 750px;
	display: none;
}

.charPanel {
	position: absolute;
	height: 210px;
	width: 180px;
	border: 2px black solid;
	background-color: #222;
	background-size: contain;
	background-repeat: no-repeat;
}

#char1 {
	top: 0px;
	left: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
}
#char2{
	top: 210px;
	left: 0px;
	border-left-width: 0px;
}
#char3{
	top: 0px;
	right: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
}
#char4 {
	top: 210px;
	right: 0px;
	border-right-width: 0px;
}

#selector {
	width: 156px;
	height: 156px;
	outline: 12px #E0FFE0 solid;
	position: absolute;
	left: 12px;
	top: 12px;
	display: none;
}

.meter {
	width: calc(100% - 2px);
	border: 1px #555 solid;
	height: 14px;
	position: absolute;
	background-color: #222;
	font-size: .8em;
	text-align: center;
	line-height: calc(height);
	color: white;
	text-shadow:  1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.life {
	bottom: 14px;
	background-image: url('../images/green.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mana {
	bottom: 0px;
	background-image: url('../images/blue.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#commandPanel {
	position: absolute;
	top: 509px;
	left: 0px;
	right: 0px;
	border-top: 2px black solid;
	height: 300px;
	background: #000;
	color: white;
	padding-right: 310px;
}

#commandPanel > div {
	padding: 15px;
	overflow-y: auto;
	height: 270px;
	font-size: 1.1em;
}

#commandPanel p {
	margin: 3px;
}

#commandPanel a.spaceToContinue {
	display: block;
	text-align: center;
	margin-top: 20px;
}

#commandPanel a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#commandPanel a:hover {
	background-color: #666;
	color: #111;
}

#commandPanel > #log {
	position: absolute;
	width: 275px;
	top: -1px;
	right: 0px;
	bottom: 0px;
	border-left: 2px #91908F solid;
	font-size: 1em;
	overflow-y: scroll;
}

#log p {
	margin: 10px 3px 10px 3px;
}

.systemPanel {
	height: 85px;
	position: absolute;
	background: #444;
	top: 424px;
	width: 180px;
}

#sys1 {
	left: 0px;
	border-right: 2px black solid;
}

#sys2 {
	right: 0px;
	border-left: 2px black solid;
}

canvas {
	display: block;
	margin: 15px auto;
}

#combatView {
	display: none;
	position: absolute;
	margin: 15px auto;
	top: 0px;
	left: 197px;
	width: 641px;
	height: 480px;
	text-align: center;
}

#combatView .monster {
	margin: 15px;
	float: left;
	border: 1px white solid;
	padding: 10px;
	cursor: pointer;
	background: black;
}

#combatView .turbo {
	background-image: url('../images/monsters/crowned-explosion.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#combatView .monster > span{
	color: white;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

#monsterList {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
}

.systemPanel .uiButton {
	width: 75px;
	height: 75px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: inline-block;
}

.systemPanel .uiButton:hover {
	background-position: -75px 0px;
	cursor: pointer;
}

.systemPanel #inventory {
	background-image: url('../images/ui/backpack.png');
	margin-top: 5px;
	margin-left: 5px;
}

.systemPanel #spellbook {
	background-image: url('../images/ui/spellbook.png');
	margin-top: 5px;
	margin-left: 20px;
}

.systemPanel #stats {
	background-image: url('../images/ui/stats.png');
	margin-top: 5px;
	margin-left: 5px;
}

.systemPanel #quests {
	background-image: url('../images/ui/quests.png');
	margin-top: 5px;
	margin-left: 20px;
}

.floatPanel {
	display: block;
	background-color: black;
	background-repeat: no-repeat;
	border: 2px #A9A8A6 solid;
	color: #A9A8A6;
	padding: 5px;
	width: 115px;
	height: 22px;
	font-family: Georgia, serif;
	font-size: 1.25em;
	position: absolute;
	top: 470px;
	z-index: 10;
}

#compass {
	top: 8px;
	background-position: center right;
	text-align: left;
	right: 50%;
	z-index: 5;
	width: 22px;
	margin-right: -11px;
	display: none;
	text-align: center;
}

#essencePanel {
	top: 8px;
	background-position: center right;
	text-align: left;
	right: 190px;
	background-image: url(../images/ui/essence.png);
	z-index: 30;
}

#preload {
	display: none;
}

#levelUpPanel {
	position: absolute;
	top: 100%;
	left: 0px;
	height: 301px;
	right: 0px;
	background: black;
	z-index: 1000;
	color: white;
	font-size: 1.1em;
	display: none;
}

#levelUpPanel #levelUpHeroName {
	margin: 5px;
	margin-left: 10px;
	display: block;
	font-size: 1.2em;
}

#levelUpPanel #levelUpHeroStats {
	background: black;
	border-left: 3px gray double;
	position: absolute;
	width: calc(80% - 3px);
	top: 0%;
	left: 20%;
	bottom: 0%;
}

#levelUpPanel ul {
	list-style: none;
	font-size: 1.1em;
	margin-left: 20px;
	padding: 0px;
}

#levelUpHeroStats > a {
	font-size: .9em;
	display: block;
	width: 230px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#levelUpStats {
	margin-top: 0px;
	margin-bottom: 10px;
}

#levelUpPanel ul > li {
	margin: 5px;
}

#levelUpPanel ul > li > span {
	display: inline-block;
	width: 25px;
	font-weight: bold;
	text-align: right;
	margin-right: 15px;
}

#levelUpPanel ul > li > label {
	display: inline-block;
	width: 100px;
	color: silver;
}

#levelUpPanel a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#levelUpPanel a:hover {
	background-color: #666;
	color: #111;
}

#levelUpDerivedStats {
	border-left: 1px gray solid;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 250px;
	right: 0px;
}

#levelUpDerivedStats > ul {
	font-size: 1em;
}

#levelUpDerivedStats > ul  > li{
	margin: 4px;
}

#levelUpDerivedStats ul > li > label {
	width: 180px;
}

#levelUpDerivedStats ul > li > span {
	width: 70px;
	margin-left: 0px;
	text-align: right;
}

#levelUpDerivedStats1 {
	position: absolute;
	top: 18px;
	left: 0px;
}

#levelUpDerivedStats2 {
	position: absolute;
	top: 18px;
	right: 0px;
}

#levelUpLevel {
	font-size: 1.2em;
	position: absolute;
	top: 5px;
	left: 15px;
	text-align: left;
}

#levelUpCost {
	font-size: 1.2em;
	position: absolute;
	top: 5px;
	right: 15px;
	text-align: right;
}

.levelUpDown {
	display: inline-block;
}

.levelUpMinus {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: auto;
}

.ui-tooltip {
    white-space: pre-line;
}