#partyInventory {
	background: black;
	display: none;
	position: absolute;
	margin: 15px auto;
	top: 0px;
	left: 197px;
	width: 641px;
	height: 480px;
	text-align: center;
	color: white;
	z-index: 20;
}

#invHeroName {
	margin: 5px;
	margin-bottom: 8px;
	display: block;
	font-size: 1.3em;
}

#partyInventory label, #shopPanel label {
	display: inline-block;
	width: 64px;
	height: 64px;
	border: 1px white solid;
	position: relative;
}

#partyInventory label img {
	display: block;
	width: 64px;
	height: 64px;
	border: 1px white solid;
	position: absolute;
	top: -1px;
	left: -1px;
}

#trashItem {
	position: absolute !important;
	display: block !important;
	left: 7px;
	background-image: url('../images/ui/trash-can.png');
}

#heroMelee {
	background-image: url('../images/ui/melee.png');
}

#heroShield {
	background-image: url('../images/ui/shield.png');
}

#heroRanged {
	background-image: url('../images/ui/ranged.png');
}

#heroArmor {
	background-image: url('../images/ui/armor.png');
}

#heroAccessory {
	background-image: url('../images/ui/accessory.png');
}

#partyInventory #invItems {
	margin-top: 8px;
}

#scrollTargeting {
	font-size: 1.2em;
	display: none;
	position: absolute;
	width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	top: 48%;
	margin-left: -250px;
	margin-top: -25px;
	left: 50%;
	padding: 15px;
	background: black;
	z-index: 500;
	border: 3px white double;
	color: white;
}