.black-book{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -320px;}
.checked-shield{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -256px;}
.clothes{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -192px;}
.club{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -128px;}
.crenulated-shield{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -64px;}
.crystal-key{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -0px -0px;}
.crystal-wand{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -64px;}
.dagger{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -256px -128px;}
.doll{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -256px -64px;}
.fang_necklace{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -256px -0px;}
.flat-hammer{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -320px;}
.gavel{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -256px;}
.gemstone_broach{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -192px;}
.key{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -128px;}
.leather{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -64px;}
.lunar-wand{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -192px -0px;}
.orb-wand{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -320px;}
.ring{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -256px;}
.robe{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -192px;}
.round-shield{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -128px;}
.scroll-unfurled{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -256px -192px;}
.tied-scroll{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -128px -0px;}
.torch{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -320px;}
.viking-shield{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -256px;}
.whip{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -192px;}
.white-book{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -128px;}
.wizard-staff{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -64px;}
.wood-axe{top:0px;left:0px;
width:64px;height:64px;background: url("items.png") no-repeat -64px -0px;}
