.bandage-roll{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -64px -0px;}
.beams-aura{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -0px -256px;}
.broken-bone{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -0px -192px;}
.chain-lightning{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -0px -128px;}
.confrontation{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -0px -64px;}
.deadly-strike{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -0px -0px;}
.delighted{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -128px -64px;}
.dripping-knife{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -256px -128px;}
.earth-spit{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -256px -64px;}
.embrassed-energy{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -256px -0px;}
.fire-silhouette{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -192px -256px;}
.flaming-trident{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -192px -192px;}
.gaze{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -192px -128px;}
.invisible{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -192px -64px;}
.lightning-frequency{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -192px -0px;}
.nailed-head{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -128px -256px;}
.psychic-waves{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -128px -192px;}
.snowing{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -128px -128px;}
.sparkling-sabre{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -256px -192px;}
.spiked-armor{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -128px -0px;}
.spiked-halo{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -64px -256px;}
.torch{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -64px -192px;}
.wasp-sting{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -64px -128px;}
.water-walking{top:0px;left:0px;
width:64px;height:64px;background: url("spells.png") no-repeat -64px -64px;}
